.portfPic{
    height: 200px;
    width: 200px;
}

.portfLabel{
    text-align: center;
    width: 200px;
    height: 20px;
    color: #ffffff;
    background: #4aaaa5;
}

.container #project1{
    position: relative;
    border: 1px solid #dddddd;
    float: left;
    margin: 20px;
    overflow: auto;
}

        #project1 .portfLabel{
            position: absolute;
            bottom: 0;
        }

.container #project2{
    position: relative;
    border: 1px solid #dddddd;
    float: left;
    margin: 20px;
    overflow: auto;
}
    
        #project2 .portfLabel{
            position: absolute;
            bottom: 0;
        }

.container #project3{
    position: relative;
    border: 1px solid #dddddd;
    float: left;
    margin: 20px;
    overflow: auto;
}
    
        #project3 .portfLabel{
            position: absolute;
            bottom: 0;
        }

.container #project4{
    position: relative;
    border: 1px solid #dddddd;
    float: left;
    margin: 20px;
    overflow: auto;
}
    
        #project4 .portfLabel{
            position: absolute;
            bottom: 0;
        }

.container #project5{
    position: relative;
    border: 1px solid #dddddd;
    float: left;
    margin: 20px;
    overflow: auto;
}
        
        #project5 .portfLabel{
            position: absolute;
            bottom: 0;
        }